form {
  width: 750px;
  margin: 60px auto;
  padding: 40px;
  text-align: center;
}

h2 {
    font-size: 50px;
}

.signUp {
    width: 100%;
}

.address, .signUpBtn {
    width: 100%;
    height: 50px;
}
